In [1]:
import pandas as pd
from pathlib import Path

#file path to csv files
school_complete_df='../Pandas_Challege/Module4Challengefiles/PyCitySchools/Resources/schools_complete.csv'
student_complete_df='../Pandas_Challege/Module4Challengefiles/PyCitySchools/Resources/students_complete.csv'
#add path to read 
school_data=pd.read_csv(school_complete_df)
student_data= pd.read_csv(student_complete_df)

#merge data into a single dataset
combined_data_df= pd.merge (school_data,student_data, how="left", on=["school_name"])
combined_data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [2]:
combined_data_df.dtypes

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [3]:
school_count=combined_data_df["school_name"].nunique()
school_count

15

In [4]:
total_student_count= combined_data_df["student_name"].count()
total_student_count

39170

In [5]:
total_budget= combined_data_df["budget"].sum()
total_budget

82932329558

In [6]:
avg_math_score=combined_data_df["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
avg_reading_score=combined_data_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
passing_math_sccores=combined_data_df[(combined_data_df["math_score"]>=70)].count()["student_name"]
passing_math_percentage=passing_math_sccores/float(total_student_count)*100
passing_math_percentage

74.9808526933878

In [9]:
passing_reading_score=combined_data_df[(combined_data_df["reading_score"])>=70].count()["student_name"]
passing_reading_percentage= passing_reading_score/float(total_student_count)*100
passing_reading_percentage

85.80546336482001

In [10]:
passing_math_reading_count=combined_data_df[(combined_data_df["math_score"]>=70) &(combined_data_df["reading_score"]>=70)].count()["student_name"]
overall_pass= passing_math_reading_count/float(total_student_count)*100
overall_pass

65.17232575950983

In [11]:
district_summary_df=pd.DataFrame({"Total Schools": [school_count],"Total Students":[total_student_count],"Total Budget":[total_budget],"Average Math Score":[avg_math_score],
                                  "Average Reading Score":[avg_reading_score],"% Passing Math":[passing_math_percentage],"% Passing Reading":[passing_reading_percentage],"% Overall Passing":[overall_pass]})
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [1]:
## SCHOOL SUMMARY

In [42]:
per_school_name = combined_data_df.set_index("school_name").groupby(['school_name'])
per_school_name.head()

,School ID,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,,,,,
Huang High School,0,District,2917,1910635,0,Paul Bradley,M,9th,66,79
Huang High School,0,District,2917,1910635,1,Victor Smith,M,12th,94,61
Huang High School,0,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
Huang High School,0,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
Huang High School,0,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,14,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
Thomas High School,14,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
Thomas High School,14,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
Thomas High School,14,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
Thomas High School,14,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [59]:
per_school_type = school_data.set_index("school_name")['type']
per_school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [47]:
total_student = per_school_name['Student ID'].count()
total_student.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [60]:
per_school_budget = school_data.set_index('school_name')["budget"]
per_school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [61]:
budget_per_student= (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])
budget_per_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [43]:
per_school_math= per_school_name['math_score'].mean()
per_school_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [44]:
per_school_reading=per_school_name['reading_score'].mean()
per_school_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [55]:
pass_math_percent = combined_data_df[combined_data_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
pass_math_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [57]:
pass_read_percent = combined_data_df[combined_data_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
pass_read_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [50]:
overall_pass = combined_data_df[(combined_data_df['reading_score'] >= 70) & (combined_data_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100
overall_pass.head()

school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
Name: Student ID, dtype: float64

In [63]:
school_summary_df = pd.DataFrame({
    "School Type": per_school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": per_school_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})
school_summary_df.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455

In [65]:
top_perform = school_summary_df.sort_values("% Overall Passing", ascending = False)
top_perform.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541

In [67]:
bottom_perform = top_perform.tail()
bottom_perform = bottom_perform.sort_values('% Overall Passing')
bottom_perform.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,53.539172

In [ ]:
##Math scores by grade

In [70]:
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [ ]:
#reading scores by grade

In [71]:
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()


reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [ ]:
#school spendinng

In [76]:
bins = [0, 584, 629, 644, 675]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]

combined_data_df['spending_bins'] = pd.cut(combined_data_df['budget']/combined_data_df['size'], bins, labels = group_name)


by_spending = combined_data_df.groupby('spending_bins')


avg_math = by_spending['math_score'].mean()

avg_read = by_spending['reading_score'].mean()
pass_math = combined_data_df[combined_data_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = combined_data_df[combined_data_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = combined_data_df[(combined_data_df['reading_score'] >= 70) & (combined_data_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
    
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
scores_by_spend.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
spending_bins,,,,,
<$584,83.363065,83.964039,93.702889,96.686558,90.640704
$585-629,79.982873,82.312643,79.109851,88.513145,70.939239
$630-644,77.821056,81.301007,70.623565,82.600247,58.841194
$645-675,77.049297,81.005604,66.230813,81.109397,53.528791

In [ ]:
#schools by type

In [80]:
school_type = combined_data_df.groupby("type")


average_math_score = school_type['math_score'].mean()
average_reading_score = school_type['math_score'].mean()
pass_math_percent = combined_data_df[combined_data_df['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
pass_read_percent = combined_data_df[combined_data_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
overall = combined_data_df[(combined_data_df['reading_score'] >= 70) & (combined_data_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100

           
scores_school_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall})

scores_school_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.406183,93.701821,96.645891,90.560932
District,76.987026,76.987026,66.518387,80.905249,53.695878

In [1]:
###SUMMARY ANAYLSIS
print("Summary Analysis in Readme ")

Summary Analysis in Readme